
<html>
<head>
  <title>Login Form</title>
  
</head>
<body>
 
    <form action="http://localhost:5000/login" method="post">
        <table>
            <tr>
              <td>Username:</td>
              <td><input type="text" name="username" ></td>
            </tr>
            <tr>
              <td>Password:</td>
              <td><input type="password" name="password" ></td>
            </tr>
            <tr>
                <td> <input type="submit" value="Login"></td>tr>
            </td>
          </table>
          
        </form>

</body>
</html>
