<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
    <!-- href="public/styles.css, public is not required by default it will look in there because in app.js we will mention the name-->
    <link rel="stylesheet" href="/styles.css">
  </head>